#############################
# General purpose libraries #
#############################
numpy
sortedcontainers
progressbar2

#################
# Deep learning #
#################
torch
# Detectron2:
git+https://github.com/facebookresearch/detectron2.git
# Detectron2 requirements:
    torchvision
    pycocotools

#########
# Image #
#########
Pillow
opencv-python

############################
# Documentation generation #
############################
Sphinx
sphinx_rtd_theme
