# General purpose libraries
numpy
sortedcontainers

# Deep learning
torch
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu102/torch1.5/index.html
detectron2
# Detectron2 requirements:
    torchvision
    pycocotools

# Image
Pillow
opencv-python

# Documentation generation
Sphinx
sphinx_rtd_theme
