# vim:ft=sh

#############################
# General purpose libraries #
#############################
numpy
sortedcontainers
progressbar2

#################
# Deep learning #
#################
torch
# Detectron2:
# git+https://github.com/facebookresearch/detectron2.git
# Detectron2 requirements:

torchvision
pycocotools
fvcore

# YOLOX
git+https://github.com/Megvii-BaseDetection/YOLOX.git

#########
# Image #
#########
Pillow
# opencv-python==4.2.0.32
opencv-python

# Display images in kitty terminal
git+https://github.com/GaetanLepage/pixcat.git

########
# Text #
########
textdistance
nltk
